body {
    background-color: pink; 
}

.flex-container {
    display: flex;
    align-items: center;
    border: 3px solid yellow; 
    flex-direction: column;    /* Изменяет направление флекс-элементов на вертикальное */
    width: 50%;
}

.checkbox-container {
    background-color: #d3d3d3;  /* Серебристый фон для контейнера с чекбоксами */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 7%; /* Добавляет отступ справа от контейнера с чекбоксами */
}

.both {
    display: flex;
    justify-content: space-around;
    border: 2px solid green;
}

.checkboxes {
    border: 2px solid red;
}

.flex-item {
    background-color: #f2f2f2; /* Светло-серый фон для flex-item */
    border: 2px solid blue;
    padding: 10px;
    flex: 1;
    width: 100%; /* Занимаем всю ширину на маленьких экранах */

    /* Пример медиа-запроса для больших экранов 
    @media (min-width: 768px) {
        width: 50%;  Занимаем 50% ширины на больших экранах 
    }

    @media (min-width: 1200px) {
        width: 33.33%;  Занимаем 33.33% ширины на очень больших экранах */
    }

