<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Таштагол</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "menu.html" %}

    {% block content %}
    <div id="content" style="height: 100%;">

        <h1>ТАШТАГОЛ & окресности</h1>
        <p>Россия -> Кемеровская область -> Таштагольский район -> Таштагол.</p>
        <p>Таштагол - это административный центр Таштагольского района. Также, этот небольшой городок, является центром Горной Шории. Чиленность насления составляет около 23 тыс. человек. Население, в последние годы не растет, а медленно уменьшается. Климат умеренно-континентальный с тёплым летом и холодной зимой. Таштагол основан в 1939 году, а статус города приобрел в 1963. Основная национальность - русские. Также есть шорцы - это коренной малочисленный народ и они здесь всречаются довольно часто. Таштагол состоит из двух микрорайонов, окруженных частным сектором. В простонародии микрорайны называют "Старый Таштагол", в нем расположена администрация города, и "Новый Таштагол", его еще называют "Поспелова", по названию одноименной улицы.</p>
        <p>Развит туризм связанный с горнолыжным спортом. В соседнем поселке Шерегеш это г. Зеленая, часть г. Мустаг (высота 1570 м.). А также есть более низкая и пологая г. Туманная, расположеная в нескольких км. к востоку от Таштагола. Гора Туманная также хороша для любителей экстримального спорта, но не так известна, как гора Зеленая в Шерегеше. Расстояние от г. Таштагол до п. Шерегеш, по трассе, составляет около 20 км. В Таштаголе есть градообразующее предприятие, шахта, добывающая железную руду. Таштагольский рудник был основан в 1911 году. С 2004 года входит в состав ОАО «Евразруда». Из этой информации можно сделать вывод, что местные жители, заняты в двух направлниях: в сфере туризма и в шахте, не считая более мелких организаций и сфер деятельности.</p>
        <p>Территорию Таштагольского района частично занимает Шорский национальный парк. Ташлагол окружен очень красивой природой, преимущественно черневой тайгой.</p>

        <div id="slider">
            <figure>
                <img src="static/1.jpg">
                <img src="static/2.jpg">
                <img src="static/3.jpg">
                <img src="static/4.jpg">
                <img src="static/5.jpg">
                <img src="static/6.jpg">
                <img src="static/7.jpg">
                <img src="static/8.jpg">
            </figure>
		    </div>

  <br><br>
  <b>Таштагол</b> - город.
	<br><br>
	Менее крупные населенные пункты:
	<br><b>Шерегеш</b>
	<br><b>Мундыбаш</b>
	<br><b>Темиртау</b>
	<br><b>Каз</b>
    <br><b>Спасск</b>
    <br><br>
    Населенные пункты с численностью населения от 150 до 1000 человек:
    <br><b>Усть-Кабырза</b>
    <br><b>Базанча</b>
    <br><b>Чугунаш</b>
    <br><b>Амзас</b>
    <br><b>Кондома</b>
    <br><b>Алтамаш</b>
    <br><b>Чулеш</b>
    <br><b>Килинск</b>
    <br><b>Мрассу</b>
    <br><b>Центральный</b>
    </div>
    {% endblock %}
</body>
</html>
