body {
  background-image: url(static/photo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#content {
  background: rgba(242, 232, 201, 0.5);
  margin: 0 auto;
  width: 80%;
  height: 100%;
  font-family: Merienda;
  font-weight: 800;
  /* жирность текста */
  font-size: 25px;
  /*   размер шрифта */
  line-height: 25px;
  /*   межстрочный интервал */
  display: flex;
  /* flexbox */
  flex-direction: row;
  align-items: center;
  border: 2px solid purple;
}


#slider {
  flex: 1;
  border: 2px solid green;
}

.text {
  flex: 1;
  /* Растягиваем текст, чтобы занять все оставшееся пространство */
  border: 2px solid blue;
}



/*  СЛАЙДЕР */
#viewport {
  overflow: hidden;
}

.slider {
  position: relative;
  transition: 500ms;
  width: calc(100% * 5);
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.slide {

}

.slide img {
  object-fit: cover;
  object-position: 0;
  width: 100%;     /* чтоб картинка не вылазила за пределы дива !!! */
}

#viewSlider {
  width: calc(30px * 5);
  display: flex;
  justify-content: space-between;
}

.viewSlide {
  background-color: thistle;
}
