body
{
	background-image: url(fon.jpg);
}

p
{
	padding-left: 5%;
	padding-right: 5%;
}

video
{
	width: 75%;
	padding-top: 3%;
	padding-bottom: 5%;
}

.flexbox_container
{	
	display: flex;              /* применение flexbox */
	border: 2px solid purple;
	margin-top: 20px;             
	height: 1500px;
	flex-direction: column; 	/* расположить div-ы вертикально, в колонку */
    align-items: center;        /* расположить div-ы по-центру */
    height: 100%;
}



.header
{
	width: 80%;
	border: 2px solid orange;
	align-items: center;
	background: url(volcano.jpg) no-repeat;
    background-size: cover;
	height: 250px;
	margin: 0 auto;
}

.menu
{
	display: flex;
	width: 80%;
	height: 40px;
	border: 2px solid orange;
	margin: 0;
    padding: 0;

}
.menu li
{
	width: 194px;
	list-style: none;
	background: #bd939d;
	position: relative;
	z-index: 2;
}
.menu a
{
	color: white;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 0 10px;
	height: 30px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
.menu a:hover
{
	background: MediumAquamarine;
	height: 40px;
}
.menu ul
{
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	padding: 0;
	height: 38px;
}
.menu li:hover ul
{
	display: block;
}

#content
{
	border: 2px solid orange;
	align-items: center;
	background: LightSteelBlue;
	margin: 0 auto;   			 
    width: 80%; 
    height: 2500px;
}


.slider
{
	min-height: 430px;
	overflow: hidden;
	border: 7px solid green;
	margin: 0 auto;
	width: 55%; /* адаптивная рамка по отношению к блоку div (id=content) */
}
.middle
{
	position: absolute;
	margin: 0 auto;
	left: 23%;
}
.navigation
{
	position: absolute;
	bottom: 16px;
	display: flex;
}
.bar
{
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	background-color: grey;
}



.one, .two /*надпись "НОВАЯ ЗЕЛАНДИЯ. НА КРАЮ ОКЕАНОВ" в шапке*/
{
	position: relative;
	font-family: arial;
	text-align: center;
}
.one
{
	font-size: 50px;
	color: springgreen;
}
.two
{
	margin-top: -54px;
	margin-left: 10px;
	color: DarkGreen;
	font-size: 50px;
}
.one { z-index: 2; }
.two { z-index: 1 }
