<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/styles.css' %}"
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
<div class="both">
    <div class="checkboxes"> 
        <form method="post" action="{% url 'func_post' %}">
            {% csrf_token %} 
            {{ form.as_p }} 
            <button type="submit">Отправить</button>
        </form>
    </div>    
        <div class="flex-container"> 

            <div class="flex-item" style="background-color: aquamarine;">
                <fieldset class="checkbox-container">
                    <legend>Группа 1</legend>
                    <!-- Чекбоксы из вашей формы -->
                    {{ form.your_checkbox_1 }}
                    {{ form.your_checkbox_2 }}
                </fieldset>
            </div>

            <div class="flex-item">
                <fieldset class="checkbox-container">
                    <legend>Группа 2</legend>
                    <!-- Другие чекбоксы -->
                    {{ form.your_checkbox_3 }}
                </fieldset>
            </div>
        </div>
</div>    
        {% endblock %}
    </main>

    <footer>
        <p>&copy; My Site 2024</p>
    </footer>

    <!--  <script src="{% static 'js/script.js' %}"></script>   -->
</body>
</html>