html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  border: 1px solid black;
  background-color: #D5C2C8;
}
.item {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  margin: 5px;
}
.top-bar {
  background-color: green;
  height: 7%;
  width: 100%;
}

.slider-container {
  display: flex;
  justify-content: center; /* Центрирую слайдер внутри контейнера */
  margin-top: 5%;          /* Отступ сверху 5% */
  margin-bottom: 5%;       /* Отступ снизу */
}
.slider {
  display: flex;
  width: 80%;              /* Ширина слайдера 80% от родителя */
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translateX(0);

}
.slide {
  flex: 0 0 100%;          /* Ширина каждого слайда 100% от родителя */
  height: 60vh;
  object-fit: cover;
}